<<<<<<< HEAD

body {
    margin: 0px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    align-items: center;
    background-color: #444444;
    padding: 20px 10px;
    border-bottom: solid white 1.5px;
}


.menu ul {
=======
body {
    margin: 0;
}
.logo {
    display: flex;
    justify-content: center;
}
ul {
>>>>>>> 5681f7939115dcd212272376500d17429aa989c1
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
<<<<<<< HEAD
    align-items: center;
    gap: 10px;
}

.menu ul #azienda {
    font-size: 30px;
}

.menu ul li {

    color: white;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.menu img {
    width: 150px;
    height: auto;
}

.menu ul #blue a {
    padding: 10px 20px;
    background-color: rgb(93, 93, 250);
    border-radius: 10px;
}

.wrapper-articolo-principale img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wrapper-articolo-principale p {
    width: 1200px;
    margin: 0  auto;
    text-align: center;
}
=======
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu a:hover {
    color:cornflowerblue;
}
li {
    display: inline;
    padding: 20px;
}
.h1 {
    text-align: center;
}
.palinsesto {
    display: flex;
    justify-content: space-between;
}
.match {
    width: 25%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.match div {
    width: 100%;
    text-align: center;
}
.match button {
    width: 30%;
}
>>>>>>> 5681f7939115dcd212272376500d17429aa989c1
